/* General */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}
ul li {
  list-style-type: none;
}
h1,
h2 {
  font-size: 18px;
  font-weight: 800;
}
button,
input {
  cursor: pointer;
}

/* Container */
#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Header */
#header {
  width: 93%;
  margin: auto;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo */
#logo img {
  height: 50px;
  margin-top: 15px;
}
/* Menue de navigation */
#menu ul {
  display: flex;
  justify-content: space-between;
}
#menu a {
  font-size: 16px;
  padding: 40px 30px;
}
#menu li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/* ////////////////////////////////////////////////////////////////// */
/* Main */
#main {
  width: 93%;
  margin: 0 auto 2%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Section Recherche */
#titre p {
  font-size: 90%;
  font-weight: 600;
  padding-top: 1%;
}

/* Barre de recherche */
#search {
  display: flex;
  width: 400px;
  height: 50px;
}
.ico-loupe {
  display: none;
}
.ico-map {
  border: none;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 0;
  width: 15%;
  font-size: 18px;
}
button:hover {
  background-color: #deebff;
  transform: scale(1.02);
  transition: 0.05s;
}
.ico-map {
}
form input[type="search"] {
  width: 67%;
  padding: 15px;
  font-size: 102%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border: 1px solid #f2f2f2;
}
form input::placeholder {
  color: #000000;
}
form input[type="submit"] {
  width: 180px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #0065fc;
  color: #f2f2f2;
  border-radius: 0 15px 15px 0;
  border: none;
}
form input[type="submit"]:hover {
  transform: scale(1.02);
  transition: 0.05s;
}

/* Filtres */
#sec-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#filtres {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 1% 0;
}
#filtres ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.filtres-button {
  display: flex;
  align-items: center;
  border: 3px solid #ececec;
  border-radius: 40px;
}
#filtres-button:hover {
  background-color: #deebff;
  transform: scale(1.02);
  transition: 0.05s;
}
.filtres-button i {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filtres p {
  font-weight: 800;
  padding: 0 12px;
}

/* Footer recherche */
#sec-search footer {
  display: flex;
  align-items: center;
}
#sec-search footer i {
  width: 25px;
  height: 25px;
  font-size: 12px;
  margin-right: 10px;
  padding: 4px;
  text-align: center;
  color: #0065fc;
  border: 2px solid #ececec;
  border-radius: 50%;
}

/* /////////////////////////////////////////////////////////////////////// */
/* Section hebergements */
#sec-hebergements {
  display: flex;
  gap: 3%;
}
#hebergements,
#populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #ececec;
  padding: 30px;
  border-radius: 20px;
}
#hebergements {
  flex: 2;
}
#populaires {
  flex: 1;
}

/* ////////////////////////////////////////////////////////////////////// */
/* Hebergements listes*/
#heberg-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6% 2%;
}
.heberg-carte {
  flex-basis: 32%;
  height: 140px;
  background-color: #fff;
  border: 5px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px #1b1b1b21;
  flex-grow: 1;
}
.heberg-carte a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  height: 100%;
}
.heberg-carte:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.heberg-carte-picture {
  height: 58%;
}
.heberg-carte-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.heberg-carte-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0 0 2% 4%;
}
.heberg-carte-text h3 {
  font-size: 11px;
  font-weight: 800;
}
.heberg-carte-text p {
  font-size: 10px;
}
.etoiles {
  color: #0065fc;
}
.etoiles i {
  font-size: 9px;
  margin: -1.5px;
}
.gris {
  color: #d5d2d2;
}
#hebergements footer a {
  font-size: 12px;
  font-weight: 750;
  padding-top: 6%;
}

/* ////////////////////////////////////////////////////////////////////// */
/*populaire*/
#populaires header {
  display: flex;
  justify-content: space-between;
}
#populaires header i {
  font-size: 22px;
}
#popul-carte {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popul-carte {
  height: 100px;
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #ffffff;
  box-shadow: 0 0 15px #1b1b1b21;
}
.popul-carte a {
  display: flex;
  height: 100%;
}
.popul-carte:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.popul-carte-picture {
  width: 40%;
}
.popul-carte-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.popul-carte-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 3% 6%;
}

.popul-carte-text h3 {
  font-size: 12px;
  font-weight: 800;
  padding: 3% 0;
}
.popul-carte-text p {
  font-size: 10px;
}

/* ////////////////////////////////////////////////////////////////// */
/* /Activites/ */
#sec-activites {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activ-cartes {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 25px 0;
}
.activ-carte {
  width: 22%;
}
.activ-carte a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px #1b1b1b21;
  overflow: hidden;
}
.activ-carte a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.activ-carte-picture {
  height: 100%;
}
.activ-carte-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.activ-carte h3 {
  font-size: 11px;
  font-weight: 800;
  padding: 6%;
}
.carte1,
.carte4 {
  height: 100%;
}

.carte2 {
  height: 56%;
}

.carte3 {
  height: 37%;
}
.carte5,
.carte6 {
  height: 46%;
}

/* Footer page */
#footer-page {
  width: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: flex-start;
}
#footer-page section {
  margin: 4% 12% 3% 4%;
}
#footer-page h4 {
  font-size: 12px;
  font-weight: 800;
  padding-bottom: 6%;
}
#footer-page a {
  font-size: 11px;
  padding: 2% 0;
}
